<div class="form_container">

  <form class="form" [formGroup]="registerForm" (ngSubmit)="submit()">

    <h1 class="registration_label">Registration</h1>

    <div class="picture_block">
      <img class="registration_picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD6P7fvoMX8ZLb9MAVnLMIPJblEBYXx-X-kv_d9GPJVfQFtCSKQIGEYAoAzOk2AR7kJEg&usqp=CAU" alt="">
    </div>

    <div class="name_block">
      <label class="label" for="name">Name </label>
      <input class="input" type="text" id="name" formControlName="name">
      <div *ngIf="f.name.touched && f.name.invalid">
        <div *ngIf="f.name.errors && f.name.errors.minlength">
          <label class="valid">Very short name, minimal length is 5 symbols</label>
        </div>
        <div *ngIf="f.name.errors && f.name.errors.pattern">
          <label class="valid">Wrong symbols</label>
        </div>
      </div>
    </div>

    <div class="nickname_block">
      <label class="label" for="nickname">Nickname</label>
      <input class="input" type="text" id="nickname" formControlName="nickname">
      <div *ngIf="f.nickname.touched && f.nickname.invalid">
        <div *ngIf="f.nickname.errors && f.nickname.errors.minlength">
          <label class="valid">Very short nickname, minimal length is 7 symbols</label>
        </div>
        <div *ngIf="f.nickname.errors && f.nickname.errors.pattern">
          <label class="valid">Wrong symbols</label>
        </div>
      </div>
    </div>

    <div class="age_block">
      <label class="label" for="age">Age</label>
      <input class="input" type="text" id="age" formControlName="age">
      <div *ngIf="f.age.touched && f.age.invalid">
        <div *ngIf="f.age.errors && f.age.errors.min">
          <label class="valid">Your age must be 18 and more</label>
        </div>
      </div>
    </div>

    <div class="password_block">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" id="password" formControlName="password">
    </div>

    <div class="confirm_password_block">
      <label class="label" for="confirmPassword">Confirm password</label>
      <input class="input" type="text" id="confirmPassword" formControlName="confirmPassword">
    </div>

    <div class="btn_block">
      <button class="btn_register">Register</button>
    </div>

  </form>
</div>

